<div id='alertes'>
    <form class='onOff'>
    	<i class='icon-envelope-alt'></i><span>Gmail</span>
    	<input class='on' type='radio' name='gmail_on_off' value='1'><input class='off' type='radio' name='gmail_on_off' value='0' checked>
    </form>
	<br>
    <form class='logins'>
    	<label for='gmail'>Adresse Gmail</label>
    	<input type='text' name='gmail' value='' placeholder='prenom.nom@gmail.com' />
    	<br>
    	<label for='password'>Mot de passe</label>
    	<input type='password' name='password' value='' placeholder='motdepasse' />
    	<br>
    	<input type='submit' name='submit' value='Valider' />
    </form>
</div>