<div id='alertes'>
    <div class='onOff'>
    	<i class='icon-envelope-alt'></i><span>Gmail</span>
    	<div id="gmail_on_off" class="btn_on_off">
            <div></div>
        </div>
    </div>
	<br>
    <form id='gmail_logins'>
    	<label for='gmail'>Adresse Gmail</label>
    	<input type='text' name='gmailLogin' value='domi.hetic@gmail.com' placeholder='prenom.nom@gmail.com' />
    	<br>
    	<label for='password'>Mot de passe</label>
    	<input type='password' name='gmailPassword' value='newhetic2012' placeholder='motdepasse' />
    	<br>
    	<input type='submit' name='submit' value='Valider' />
    </form>
</div>