<div id='reveil'>
    <div class='onOff'>
        <i class='icon-time'></i><span>Réveil</span>
        <div id='reveil_on_off' class='btn_on_off'>
            <div></div>
        </div>
    </div>
    <br>
    <div id='hour_block'>
        <div id='days'>
            <span class='active'>Lun</span>
            <span class='active'>Mar</span>
            <span>Mer</span>
            <span class='active'>Jeu</span>
            <span class='active'>Ven</span>
            <span>Sam</span>
            <span>Dim</span>
        </div>
        <div id='hour_big'><span id='hours'>08</span>:<span id='minutes'>00</span></div>
        <div id='hour_edit'>
            <i id='hour_btn' class='icon-edit'></i>
            <input id='hour_input' type='time' value='' />
        </div>
    </div>
</div>